<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('partials/head') %>
  </head>
  <%- include('partials/navigation') %>
  <body>
    <iframe
      allow="microphone;"
      width="350"
      height="430"
      src="https://console.dialogflow.com/api-client/demo/embedded/624f72b1-fbd6-4692-8e37-191a1ef05faf"
    >
    </iframe>
  </body>
</html>
