<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <%- include('partials/head') %>
</head>
<%- include('partials/navigation') %>
<body>
    <div class="movie-info">
        <h1>Titanic</h1>
        <p><strong>Director:</strong> James Cameron</p>
        <p><strong>Año:</strong> 1997</p>
        <p><strong>Género:</strong> Drama, Romance</p>
        <p><strong>Sinopsis:</strong> Una joven de la alta sociedad se enamora de un artista pobre a bordo del lujoso y malogrado R.M.S. Titanic.</p>
    </div>
    <div class="movie-trailer">
        <h2>Trailer</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tA_qMdzvCvk?si=IywoeK5veo4CpzSe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</body>
</html>