<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    
    <%- include('partials/head') %>
</head>
<%- include('partials/navigation') %>
<body>
   
    <div class="header">
        <h1>Sobre Nosotros</h1>
    </div>
    <div class="container">
        <div class="content">
            <h1>Bienvenidos a Nuestra Web de Películas</h1>
            <p>Somos un equipo apasionado por el cine y nos dedicamos a ofrecerte las mejores reseñas, noticias y recomendaciones sobre películas. Nuestro objetivo es crear una comunidad de amantes del cine donde todos puedan compartir sus opiniones y descubrir nuevas películas.</p>
            <p>En nuestra web encontrarás una amplia variedad de contenido relacionado con el mundo del cine, desde los últimos estrenos hasta clásicos inolvidables. Nos esforzamos por mantenerte informado y entretenido con artículos de calidad y análisis profundos.</p>
            <p>Gracias por visitarnos y esperamos que disfrutes de tu tiempo en nuestra web. ¡No dudes en contactarnos si tienes alguna pregunta o sugerencia!</p>
        </div>
    </div>
</body>
</html>
